.separation {
  width: 92.5%;
  position: relative;
  margin-left: 7.5%;
}
.order__area {
  display: flex;
  justify-content: space-between;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.card__section {
  text-align: center;
  margin-top: 4rem;
}
.order__details {
  width: 100%;
  background-color: #2a414f;
  position: sticky;
  top: 0;
  height: 100vh;
}
