.separation {
  width: 85%;
  margin: 0 7.5%;
}
.order__area {
  display: flex;
  justify-content: space-between;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}
.card__section {
  text-align: center;
  margin-top: 4rem;
}
